*,
::before,
::after{

    box-sizing: content-box;
}

:root{
    
        /** Theme 1*/

        /**Backgrounds*/

        --very-dark-desaturated-blue-1: hsl(222, 26%, 31%);
        --very-dark-desaturated-blue-2: hsl(223, 31%, 20%);
        --very-dark-desaturated-blue-3: hsl(224, 36%, 15%);

        /**Keys*/

        --desaturated-dark-blue-1: hsl(225, 21%, 49%);
        --desaturated-dark-blue-2: hsl(224, 28%, 35%);

        --red: #d03f2f;
        --dark: hsl(6, 70%, 34%);

        --light-grayish : hsl(30, 25%, 89%);
        --grayish: #b4a597;

        /**Text*/

        --very-dark-grayish-blue-text: hsl(221, 14%, 31%);
        --white: #ffffff;

        /** Theme 2*/

        /**Backgrounds*/
 
        --light-gray-2: hsl(0, 0%, 90%);
        --grayish-red: hsl(0, 5%, 81%);
        --very-light-gray : hsl(0, 0%, 93%);   

        /** Keys*/

       --dark-moderate-cyan: hsl(185, 42%, 37%);
        --very-dark-cyan : hsl(185, 58%, 25%);
 
      --orange: hsl(25, 98%, 40%);
      --dark-orange : hsl(25, 99%, 27%); 
/* 
        --Light-grayish-yellow : hsl(45, 7%, 89%);
        --Dark-grayish-orange : hsl(35, 11%, 61%);  */
 
        /**Text*/

        --very-dark-grayish-yellow: hsl(60, 10%, 19%); 
        

        /**Theme */

        /**Backgrounds*/

         --very-dark-violet-1 : hsl(268, 75%, 9%);
        --very-dark-violet-2 : hsl(268, 71%, 12%); 

        /** Keys */

         --dark-violet : hsl(281, 89%, 26%);
        --vivid-magenta: hsl(285, 91%, 52%);

        --pure-cyan: hsl(176, 100%, 44%);
        --soft-cyan : hsl(177, 92%, 70%);

        --very-dark-violet-3: hsl(268, 47%, 21%;);
        --dark-magenta: hsl(290, 70%, 36%); 

        /** Text*/

      --light-yellow: hsl(52, 100%, 62%);
        --very-dark-blue: hsl(198, 20%, 13%);


}

.style-1{

    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 16px;
    background-color: var(--very-dark-desaturated-blue-1);  
}


button{
    
    cursor: pointer;
}
ol,
li{

    list-style-type: none;
    margin:0;
    padding:0;
}

.container{

    width: 360px;
    min-height: 85vh;
    box-shadow: 5px 5px 10px var(--very-dark-desaturated-blue-2);
}

.header{

    display: flex;
    justify-content: space-between;
    height: 82px;
}

.strong{

    margin-left: 12px;
    align-self: center;
    font-size: 2rem;
    color:#ffffff;
}


.header-container{

    display: flex;
}


.contianer-paragraph{

    margin-top: 25px;
    color:#fff;
    align-self: center;
}

.contianer-paragraph-2{

    color:var(--very-dark-grayish-yellow);

}

.container-lists{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 115px;
    margin-top: 4px;
}

.contianer-list{

    display: flex;
    justify-content: space-between;
    width:  65px;
    height: 24px;

}

.contianer-list__items{

    
    color: #fff;
}

.contianer-list-2{


    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    width:  90px;
    border-radius: 15px;
    background-color: var(--very-dark-desaturated-blue-2) ;
}   

.contianer-list-2-2{

    background-color: var(--grayish-red);
} 


.contianer-list-2__items__red,
.contianer-list-2__items__dark,
.contianer-list-2__items__cian{
    
    width: 5px;
    height: 15px;
    border-radius: 50%;
}

.contianer-list-2__items__red{

    background-color: var(--red);
}

.contianer-list-2__items__dark:hover{

    background-color: var(--orange);
}

.contianer-list-2__items__cian:hover{

    background-color: var(--dark-moderate-cyan);

}

.desktop{

    width: 95%;
    height: 85px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: var(--very-dark-desaturated-blue-3);
    overflow-y: hidden;
    overflow-x: auto;
    color: var(--white);
}


.desktop::-webkit-scrollbar{

    
    height: 10px;
    border-radius: 12px ;
    background-color: var(--very-dark-desaturated-blue-2);
}

.desktop::-webkit-scrollbar-thumb{
    
    
    background-color: var(--desaturated-dark-blue);
    border-radius: 15px;
}   
.desktop::-webkit-scrollbar-button{

    width: 5%;
}


.pantalla-1,
.pantalla-2{

    height: 50%;
    margin-right: 35px;
    line-height: 40px;
    text-align: right;
    font-size: 2rem;
    font-weight: 500;

    
}


.botones{

    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 12px;
    height: 310px;
    margin: 25px 10px;
    padding: 2em;
    border-radius: 10px;
    background-color: var(--very-dark-desaturated-blue-2);
}

.rest{

    width: 90%;
    grid-column: 1/3;
    background-color: var(--desaturated-dark-blue-1);
    box-shadow: 0px 5px 0px var(--desaturated-dark-blue-2);
    color:#fff;
    
}

.resultado{

    width: 90%;
    grid-column: 3/5;  
    color:#fff;
    background-color: var(--red);
}   



button{

    background: none;
    border:none;
    width: 45px;
}

.boton-number,
.del,
.sumar,
.resta,
.punto,
.dividir,
.multiplicar,
.rest,
.resultado{

    border-radius: 8px;
    font-size: 2rem;
    
}

.resultado{

    box-shadow: 0px 5px 0px var(--dark);    
}


.boton-number,
.sumar,
.resta,
.punto,
.dividir,
.multiplicar{
     
    background-color: var(--light-grayish);
    color: var(--very-dark-grayish-blue-text);
    box-shadow:  0px 5px 0px var(--grayish);
}

.del{   
    width: 46px;
    font-size: 1.5rem;
    background-color: var(--desaturated-dark-blue-1);
    box-shadow: 0px 5px 0px  var(--desaturated-dark-blue-2);
    color:#fff;
}




.contianer-list-2__items__dark-2{

    background-color: var(--orange);
}

.style-2{

    background-color: var(--light-gray-2);
    

}

.texts-2{

    color:var(--very-dark-grayish-yellow);

}


.desktop-2{

    background-color: var(--very-light-gray);
    color: var(--very-dark-grayish-yellow)
}

.containers-2{

    background-color: var(--grayish);

}

.botones-2{

    background-color: var(--dark-moderate-cyan);
    box-shadow: 0px 5px 0px var(--very-dark-cyan);
}

.igual-2{

    background-color: var(--orange);
}




.style-3{

    background-color: var(--very-dark-violet-1);
    

}

.texts-3{

    color:var(--very-dark-grayish-yellow);

}


.desktop-3{

    background-color: var(--very-light-gray);
    color: var(--very-dark-grayish-yellow)
}

.containers-3{

    background-color: var(--grayish);

}

.botones-3{

    background-color: var(--dark-moderate-cyan);
    box-shadow: 0px 5px 0px var(--very-dark-cyan);
}

.igual-3{

    background-color: var(--orange);
}
